{% extends 'BackendBundle:Layout:layout.html.twig' %}

{% block body %}
    <div class="page-title">
        <h5><i class="fa fa-file-o"></i> Cria um nova movimentação</h5>
    </div>
    <!-- Statistics -->
    <ul class="row stats">
        <li class="col-xs-3"><a href="#" class="btn btn-default">52,00</a> <span>Saldo Inicial</span></li>
        <li class="col-xs-3"><a href="#" class="btn btn-success">520,00</a> <span>Dinheiro em caixa</span></li>
        <li class="col-xs-3"><a href="#" class="btn btn-danger">14,00</a> <span>Dinheiro Retirado</span></li>
        <li class="col-xs-3"><a href="#" class="btn btn-info">48,00</a> <span>Gasto com serviço</span></li>
    </ul>
    <!-- /statistics -->
    <!-- Right labels -->
    {{ form(form) }}

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var url = '{{ path("ajax_preco", {'id': 0}) }}'; 
    </script>
    <script type="text/javascript" src="{{ asset('backend/js/movimentacao/movimentacao.js') }}"></script>
{% endblock %}